version: "3.9"
services:
  rag-api:
    build: 
      context: .
      dockerfile: ./docker/Dockerfile.rag
    container_name: rag-api
    networks:
      - rag-base-network
    ports:
      - "8800:8800"
      
  embed-api:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.embed
    container_name: embed-api
    networks:
      - rag-base-network
    ports:
      - "8801:8801"

  vllm-api:
    image: vllm-cpu-env
    container_name: vllm-api
    networks:
      - rag-base-network
    ports:
      - "8802:8802"
    command:
      - --host
      - 0.0.0.0
      - --port
      - "8802"
      - --model
      - openai-community/gpt2
    environment:
      VLLM_CPU_KVCACHE_SPACE: 2

  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    networks:
      - rag-base-network
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: taeuk0623
      POSTGRES_DB: postgres

  qdrant-db:
    image: qdrant/qdrant:latest
    container_name: qdrant-db
    networks:
      - rag-base-network
    ports:
      - "6333:6333"


networks:
  rag-base-network: